.subtotal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350px;
	height: 200px;
	padding: 20px;
	background-color: #ffffff21;
	margin-left: 10px;
	border-radius: 3px;
}

.subtotal_gift {
	display: flex;
	align-items: center;
}

.subtotal_gift > input {
	margin-right: 5px;
}

.proceed_button {
	background: rgb(24, 114, 24);
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid green;
	margin-top: 10px;

	color: white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.proceed_button:hover {
	transition: all 0.2s ease-in-out;
	background: rgb(12, 175, 12);
}
